.button {
  display: inline-block;

  font-family: inherit;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primery-text-color);
  text-align: center;
  border: none;
}

.button.hero-primery {
  display: block;
  margin-right: auto;
  margin-left: auto;

  padding: 10px 32px;

  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include font($fw: 700, $fs: 16, $lh: 1.88, $ls: 0.06em);

  align-items: center;
  text-align: center;

  color: var(--text-color-white);

  &:hover,
  &:focus {
    color: var(--primery-text-color);
    background-color: var(--primery-background-color-btn);
  }
}

.button.projects-primery,
.button.projects-secondary {
  padding: 6px 22px;
  // min-width: 73px;

  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include font($fs: 16, $lh: 1.62);

  text-align: center;

  color: var(--primery-text-color);
  background-color: var(--primery-background-color-btn);
}

.button.projects-primery:hover,
.button.projects-primery:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.projects-secondary:hover,
.button.projects-secondary:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

