.menu-button-open {
  margin-left: auto;
  padding-top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;

  transition-property: fill;

  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@include tablet {
  .menu-button-open {
    display: none;
  }
}

.header__icon--open {
  display: block;

  .menu-button-open:hover &,
  .menu-button-open:focus & {
    fill: var(--accent-color);
  }
}

.mob__menu {
  position: fixed;
  background-color: var(--primery-background-color);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@include tablet {
  .mob__menu {
    display: none;
  }
}

.mob__menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@include tablet {
  .mob__menu.is-hidden {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.mob__menu.is-hidden .mob__menu {
  transform: translateX(100%);
}

@include tablet {
  .mob__menu.is-hidden .mob__menu {
    transform: none;
  }
}

.menu-button-close {
  margin-left: auto;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@include tablet {
  .menu-button-close {
    display: none;
  }
}

.menu-button__icon--close {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  .menu-button-close:hover &,
  .menu-button-close:focus & {
    fill: var(--accent-color);
  }
}
.mob-menu__container {
  padding: 10px 15px 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform, min-height, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--primery-background-color);

  .mob__menu.is-hidden.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
    min-width: 0;
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link.current,
.mob-menu__link {
  @include font($fs: 40, $lh: 1.18, $ls: 0.02);
  color: var(--primery-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__link.current {
  color: var(--accent-color);
}

.mob-contacs {
  margin-bottom: 64px;
}

.mob-contacs__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacs__mail {
  @include font($fs: 24, $lh: 1.17, $ls: 0.02);
  color: var(--text-color-gray);
  text-decoration: none;
}

.mob-contacs__tel {
  @include font($fs: 34, $lh: 1.18, $ls: 0.02);
  color: var(--accent-color);
  text-decoration: none;
}

.mob-socnet__list {
  display: flex;
  gap: 10px;
}
.mob-socnet__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-socnet__link {
  display: block;
  color: var(--accent-color);
  @include font($fs: 18, $lh: 1.22, $ls: 0.02);
}

// .no-scroll {
//   overflow: hidden;
// }
