.menu-button-open {
    margin-left: auto;
    background: var(--primery-background-color);
    border: none;
}

@include tablet {
    display: none;
}

.header__icon--open {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    .modal-close:hover &,
    .modal-close:focus & {
      fill: var(--accent-color);
    }
  }

.mob-menu {
}
.menu-button--close {
}
.menu-button {
}
.menu-button__icon--close {
}
.mob-menu__navigation {
}
.mob-menu__list {
}
.list {
}
.mob-menu__item {
}
.mob-menu__link {
}
.navigation__link {
}
.link {
}
.mob-contacs {
}
.mob-contacs__list {
}
.mob-contacs__item {
}
.contacs__item {
}
.mob-contacs__mail {
}
.contacs__mail {
}
.mob-contacs__tel {
}
.contacs__tel {
}
.mob-socnet {
}
.mob-socnet__list {
}
.mob-socnet__item {
}
.mob-socnet__link {
}