.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-color-backdrop);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform, min-height, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primery-background-color);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
    min-width: 0;
  }
}
@include mobile {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@include desktop {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  align-items: center;
  justify-content: center;

  background-color: var(--primery-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.backdrop-icon {
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close:hover &,
  .modal-close:focus & {
    fill: var(--accent-color);
  }
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  display: block;
  margin-bottom: 12px;

  @include font($fw: 700, $fs: 20, $lh: 1.15);

  text-align: center;

  color: var(--primery-text-color);
}
