.footer {
padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-section);
}

.footer-container {
display: flex;
  text-align: center;
  flex-direction: column;
}

@include tablet {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@include desktop {
  .footer-container {
  align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }
}

.footer-box-first {
 margin-bottom: 60px;
}

@include desktop {
  .footer-box-first {
   display: block;
    margin-bottom: 0;
  }
}
.footer-logo {
 padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  justify-content: center;
 

  font-family: "Raleway", sans-serif;

  @include font($fw: 700, $fs: 24, $lh: 1.19);

  text-decoration: none;
  color: var(--text-color-white);
}

@include desktop {
  .footer-logo {
    justify-content: start;
    @include font($fw: 700, $fs: 26, $lh: 1.17);
  }
}

.footer-address {
   font-style: unset;
  margin-top: 0px;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

@include desktop {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-item .aside {
  @include font($fw: null, $lh: 1.71);

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-list .footer-map {
  color: var(--text-color-white);
}

.footer-box-second {
margin-bottom: 60px;
}

@include tablet {
  .footer-box-second {
    display: block;
    margin-bottom: 0;
  }
}

.footer-text {
  @include font($fw: 700);

  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--text-color-white);
}

.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-soc-icon {
  fill: var(--primery-background-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer-soc-link:hover &,
  .footer-soc-link:focus & {
    fill: var(--primery-background-color);
  }
}
.distribution {
 display: block;
}

@include tablet {
  .distribution {display: flex;
    flex-direction: column;

  }
}
@include desktop {
  .distribution {justify-content: center;
    align-items: flex-start;
    align-items: initial;
    width: 570px;
    height: 86px;}
}


.distribution-text {
  margin-bottom: 20px;

  @include font($fw: 700);

  text-transform: uppercase;

  color: var(--primery-background-color);
}

.distribution-form {
 display: block;
}
.distribution-form::placeholder {
  @include font(null, $fs: 16, $lh: 1.25);

  color: rgba(255, 255, 255, 0.6);
}

@include tablet {
  .distribution-form {display: flex;
    flex-wrap: wrap;
    justify-content: center;}
}
@include desktop {
  .distribution-form{
 flex-wrap: nowrap;
}}

.footer-mail-input {
 width: 100%;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-section);
  color: var(--primery-background-color);
}

@include desktop {
  .footer-mail-input {
    margin-right: 12px;
  }
}

.footer-email.button {
  position: relative;
   align-items: center;
   padding: 10px 29px;
  min-width: 200px;
  height: 50px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;

  @include font($fw: 700, $fs: 16, $lh: 1.88, $ls: 0.06em);

  color: var(--text-color-white);

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@include desktop {
  .footer-email.button { display: flex;
    align-items: center;
    justify-content: center;}
}

.footer-letter-icon {
  margin-left: 12px;
  fill: var(--text-color-white);
}
