.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: var(--background-color-section);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@include tablet {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
}

@include desktop {
  .footer-container {
    display: flex;
    // align-items: baseline;
  }
}

.footer-box-first {
  text-align: center;
}

@include tablet {
  .footer-box-first {
    align-items: center;
  }
}
@include desktop {
  .footer-box-first {
    text-align: left;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;

  @include font($fw: 700, $fs: 24, $lh: 1.19);

  text-decoration: none;
  color: var(--text-color-white);
}

@include desktop {
  .footer-logo {
    @include font($fw: 700, $fs: 26, $lh: 1.17);
  }
}

.footer-address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

@include desktop {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-item .aside {
  @include font($fw: null, $lh: 1.71);

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-list .footer-map {
  color: var(--text-color-white);
}

.footer-box-second {
  display: flex;
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@include tablet {
  .footer-box-second {
    margin-top: 0;
    margin-left: 165px;
    margin-right: auto;
  }
}
@include desktop {
  .footer-box-second {
    margin-left: 70px;
    margin-right: auto;
    align-items: flex-start;
  }
}

.footer-text {
  @include font($fw: 700);

  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--text-color-white);
}


.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-soc-icon {
  fill: var(--primery-background-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer-soc-link:hover &,
  .footer-soc-link:focus & {
    fill: var(--primery-background-color);
  }
}
.distribution {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@include tablet {
  .distribution {
    margin-left: auto;
  }
}

@include desktop {
  .distribution {
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    width: 570px;
    height: 86px;
  }
  }


.distribution-text {
  
  margin-bottom: 20px;

  @include font($fw: 700);

  text-transform: uppercase;

  color: var(--primery-background-color);
}

.distribution-form {
     display: flex;
     justify-content: center;
  align-items: center;

}
.distribution-form::placeholder {
  @include font(null, $fs: 16, $lh: 1.25);

  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-section);
  color: var(--primery-background-color);
}

.footer-email.button {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  padding: 10px 29px;
  min-width: 200px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;

  @include font($fw: 700, $fs: 16, $lh: 1.88, $ls: 0.06em);

  color: var(--text-color-white);

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.footer-letter-icon {
  margin-left: 12px;
  fill: var(--text-color-white);
}
