
.hero {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 118px;
	padding-bottom: 118px;

	background-color: #c4c4c4;
	background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-bg-mod-1x.jpg);
	@include mobile {
		background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-bg-mod-2x.jpg);
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(tablet) {
		background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url("../images/hero-bg-tab-1x.jpg");
		@include tablet {
			background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-desk-2x.jpg);
		}
	}
	@include desktop {
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-bg-desk-1x.jpg);
		@include desktop {
			background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-desk-2x.jpg);
		}
	}
}

.hero-title {
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include font($fw: 900, $fs: 26, $lh: 1.16, $ls: 0.06em);

  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-white);
}

@include tablet {
  .hero-title {
    max-width: 360px;
  }
}

@include desktop {
  .hero-title {
    max-width: 696px;
    @include font($fw: 900, $fs: 44, $lh: 1.36, $ls: 0.06em);
  }
}
