.hero {
  width: 100%;
  height: 400px;
  background-color: var(--primery-background-color);
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mod-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-mod-2x.jpg);
    }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_tab_2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-desk-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desk-2x.jpg);
    } }

    .hero .container {
padding: 118px 45px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
    }


.hero-title {
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include font($fw: 900, $fs: 26, $lh: 1.16, $ls: 0.06em);

  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-white);
}

@include tablet {
  .hero-title {
    max-width: 360px;
  }
}

@include desktop {
  .hero-title {
    max-width: 696px;
    @include font($fw: 900, $fs: 44, $lh: 1.36, $ls: 0.06em);
  }
}
