.work-list {
  display: block;
  width: 100%;
}

@include tablet {
  .work-list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    flex-grow: 1;
  }
}

@include desktop {
  .work-list {
    display: flex;
    gap: 30px;
  }
}

.work-item {
  width: 100%;
  margin-bottom: 30px;
}

@include tablet {
  .work-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}

@include desktop {
  .work-item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }
}

.work-gallery-link {
  display: flex;
  height: 100%;
  flex-direction: column;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-top-wrap {
  position: relative;
  overflow: hidden;
}

.work-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include font($fw: null, $fs: 18, $lh: 1.56);

  color: var(--text-color-white);
  background-color: var(--background-color-overlay);

  .work-gallery-link:hover & {
    transform: translateY(0);
  }
}

.work-list .work-wrap {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-title {
  margin-bottom: 4px;

  @include font($fw: 700, $fs: 18, $lh: 2, $ls: 0.06em);

  color: var(--primery-text-color);
}
.work-text {
  @include font($fw: null, $fs: 16, $lh: 1.88);

  color: var(--text-color-gray);
  margin-top: 0;
}
